.product-image{
    background-color: navy;
    height : 300px;
    width : 300px; 
  }



  .product-image-class {
      width:275px !important;
      border: 3px solid #adb5bd;
  margin: 0 auto;
  padding: 3px;
  }


  .card-custom {
    background-color: #F3F6F9 !important; 
    
}
.custom-img-circle {
    border-radius: 50%;
}

.custom-input-box{
    width:60%;
}

.vis {

    visibility: visible;
}


.n-vis{

    visibility : hidden;
}

.review-box{
    padding: 30px;
  }
  
  .ratingLabel{
    padding-left: 5px;
  }
  .ratingValue{
    padding-right: 5px;
  }


  .previous-button{
    margin-top: auto;
    margin-bottom: auto;
  }
  .next-button{
    margin-top: auto;
    margin-bottom: auto;
  }
  

  #review-footer {
    display: inline-flex;
    justify-content: space-between;

  }